#fatos{
  width: 1200px;
  margin: 50px auto;
  position: relative;
}

#mapaMA{
  width: 1200px;
  margin: 50px auto;
}

.bg-mapa-maranhao{
  position: absolute;
  opacity: 30%;
  z-index: -1;
  margin: 0 auto;
  transform: scale(1.8) translateX(25%);
}

.dash-linha1{
  width: 50%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dashboard{
  display: flex;
  justify-content: space-between;
}

.municipios, .reciclagem, .irregular{
  width: 320px;
  height: 320px;
  background-color: #f9f9f9;
  box-shadow: 10px 10px var(--cor-primaria);
  border-radius: 1rem;
  margin-bottom: 100px;
}

.fatos-titulo{
  font-size: 2.25rem;
  font-family: var(--font-titulo-h3);
  font-weight: 900;
  padding: 15px;
  color: var(--cor-secundaria);
}

.fatos-titulo span{
  color: var(--cor-primaria);
}

.fatos-descricao{
  font-size: 1.50rem;
  color: #101010;
  font-family: var(--font-titulo-h3);
  font-weight: normal;
  padding: 15px;
  line-height: 1.5;
}

.dash-graficos{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.dash-texto-descricao{
  font-size: 1.50rem;
  color: #101010;
  font-family: var(--font-titulo-h3);
  font-weight: normal;
  padding: 15px;
  line-height: 1.5;
}

.img-maranhao{
  transform: scale(0.9);
}

.dash-linha2{
  display: flex;
  flex-direction: column;
}

.info-graph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 30%;
}

.licenca, .lixo{
  width: 1182px;
  height: 461px;
  background-color: #f9f9f9;
  box-shadow: 10px 10px var(--cor-primaria);
  border-radius: 1rem;
  margin: 30px auto;
  display: flex;
  padding: 25px;
}

.info-cards{
  display: flex;
}

.drenagem, .gases{
  width: 448px;
  height: 647px;
  background-color: #f9f9f9;
  box-shadow: 10px 10px var(--cor-primaria);
  border-radius: 1rem;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}

.img-graphs1{
  transform: scale(2);
  width: 70%;
}

.img-graphs2{
  transform: scale(0.8);
  width: 70%;
}

.img-graphs3{
  transform: scale(1.5);
}

.img-graphs4{
  transform: scale(1.8);
}

/* TELAS DE ATÉ 768px */

@media only screen and (min-width:768px) and (max-width:1024px) {
  #fatos{
    width: 720px;
    margin: 30px auto;
    position: relative;
  }
  
  #mapaMA{
    width: 720px;
    margin: 30px auto;
  }
  
  .bg-mapa-maranhao{
    position: absolute;
    opacity: 30%;
    z-index: -1;
    margin: 0 auto;
    transform: scale(1.1) translate(15%,-10%);
  }
  
  .dash-linha1{
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .municipios, .reciclagem{
    width: 250px;
    height: 230px;
    margin-bottom: 70px;
  }
  
  .fatos-titulo{
    font-size: 24px;
    padding: 15px;
  }
  
  .fatos-descricao{
    font-size: 16px;
    padding: 15px;
  }
  
  .dash-graficos{
    justify-content: flex-start;
  }

  .dash-texto-descricao{
    font-size: 16px;
  }
  
  .img-maranhao{
    width: 380.87px;
    height: 495.19px;
  }

  .info-graph{
    padding: 10px 0 10px 10px;
    width: 30%;
  }
  
  .licenca, .lixo{
    width: 707.22px;
    height: 273.44px;
  }
  
  .drenagem, .gases{
    width: 300px;
    height: 489px;
  }
  
  .img-graphs3{
    transform: scale(1.5);
  }
  
  .img-graphs4{
    transform: scale(1.7);
  }
 }

 /* TELAS DE ATÉ 360px */
 
@media only screen and (max-width:600px) {
  #fatos{
    width: 312px;
    margin: 10px auto;
    position: relative;
  }
  
  #mapaMA{
    width: 312px;
    margin: 10px auto;
  }
  
  .bg-mapa-maranhao{
    position: absolute;
    opacity: 30%;
    z-index: -1;
    margin: 0 auto;
    transform: scale(0.7) translate(-30%,-50%);
  }
  
  .dash-linha1{
    margin-top: 30px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .municipios, .reciclagem{
    width: 120px;
    height: 120px;
    margin-bottom: 50px;
    box-shadow: 5px 5px var(--cor-primaria);
  }
  
  .fatos-titulo{
    font-size: 12px;
    padding: 15px 15px 10px 15px;
  }
  
  .fatos-descricao{
    font-size: 8px;
    padding: 0 15px 15px 15px;
  }
  
  .dash-graficos{
    justify-content: flex-start;
    margin-top: 20px;
  }

  .dash-texto-descricao{
    font-size: 8px;
  }
  
  .img-maranhao{
    width: 179px;
    height: 237px;
  }

  .info-graph{
    padding: 10px 0 10px 10px;
  }

  .info-graph .fatos-titulo{
    padding: 5px;
  }

  .info-graph .fatos-descricao{
    padding: 5px;
  }
  
  .licenca, .lixo{
    width: 300px;
    height: 127.18px;
    box-shadow: 5px 5px var(--cor-primaria);
    padding: 8px;
    margin: 10px 0 25px 0px;
  }
  
  .drenagem, .gases{
    width: 135.8px;
    height: 207.88px;
    box-shadow: 5px 5px var(--cor-primaria);
    padding: 5px;
    margin: 0px;
    justify-content: space-between;
  }

  .info-cards{
    justify-content: space-around;
  }

  .info-card .fatos-titulo{
    padding: 8px;
  }

  .info-card .fatos-descricao{
    padding: 8px;
  }
  

  .img-graphs1{
    transform: scale(2);
    width: 70%;
  }
  
  .img-graphs2{
    transform: scale(0.9);
    width: 70%;
  }
  
  .img-graphs3, .img-graphs4{
    width: 113.14px;
    height: 97px;
  }
}
