header{
    background-color: var(--cor-primaria);
    width: 100vw;
    height: 92px;
    position: absolute;
    top:0;
    z-index: 1;
}
.container{
    width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}
.container__gif{
    width: 300px;
}
.container__gif h1 img{
    width: 100%;
}
.container nav{
    width: auto;
}
#navbar li{
    display: inline;
}

#navbar li a{
    text-decoration: none;
    color:var(--cor-preto-titulos);

    font-family: var(--font-titulo-h1);
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;

    margin-right: 25px;
}

.participar{
    padding: 13px 15px;
    border-radius: 100px;
    background-color: var(--cor-secundaria);
    color: wheat !important;
}
