#snis {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 2rem;
}

.informacoes{
  width: 50%;
  padding: 15px;
}

.informacoes h2{
  font-family: var(--font-titulo-h2);
  font-size: 3.25rem;
  font-weight: 900;
  color: var(--cor-preto-titulos);
  margin-bottom: 2rem;
}

.informacoes p{
  font-family: var(--font-titulo-h2);
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--cor-preto-corrido);
  margin-bottom: 2rem;
  text-align: left;
}

.botao-informacoes{
  border: none;
  width: 217px;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--cor-secundaria);
  font-family: var(--font-titulo-h2);
  font-size: 1.25rem;
  color: #fdfdfd;
  cursor: pointer;
}

.oquefazem{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;
}

.snis-oquefazem{
  display: flex;
  align-items: flex-end;
}

.snis-oquefazem h2{
  font-family: var(--font-titulo-h2);
  font-size: 3.25rem;
  font-weight: 900;
  color: var(--cor-preto-titulos);
  margin-bottom: 2rem;
  padding-left: 15px;
}

.snis-oquefazem img{
  width: 167px;
  height: 167px;
  margin-bottom: 2rem;
}

.oquefazem p{
  font-family: var(--font-titulo-h2);
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--cor-preto-corrido);
  margin-bottom: 2rem;
  text-align: left;
}

/* TELAS DE ATÉ 768px */

@media screen and (min-width:768px) {
 #snis{
   width: 720px;
   margin-bottom: 1rem;
 }

 .informacoes{
   width: 100%;
 }

 .informacoes h2{
  font-size: 36px;
  margin-bottom: 1rem;
} 

.informacoes p{
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  text-align: left;
}

.botao-informacoes{
  border: none;
  width: 120px;
  font-size: 0.8rem;
}

.oquefazem{
  width: 100%;
}

.snis-oquefazem h2{
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 1rem;
}

.snis-oquefazem img{
  width: 130px;
  height: 130px;
  margin-bottom: 2rem;
}

.oquefazem p{
  font-size: 1rem;
  margin-bottom: 1rem;
}

}

/* TELAS DE ATÉ 360px */

@media screen and (max-width:600px) {
  #snis{
    width: 327px;
    margin-bottom: 1rem;
  }
 
  .informacoes{
    width: 50%;
  }
 
  .informacoes h2{
   font-size: 16px;
   margin-bottom: 1rem;
 } 
 
 .informacoes p{
   font-size: 9px;
   margin-bottom: 1rem;
   font-weight: normal;
   text-align: left;
 }
 
 .botao-informacoes{
   border: none;
   width: 100%;
   font-size: 9px;
   padding: 10px;
 }
 
 .oquefazem{
   width: 50%;
 }
 
 .snis-oquefazem h2{
   font-size: 16px;
   font-weight: 900;
   margin-bottom: 1rem;
 }
 
 .snis-oquefazem img{
   width: 54px;
   height: 54px;
   margin-bottom: 1rem;
 }
 
 .oquefazem p{
   font-size: 9px;
   margin-bottom: 1rem;
 }
 
 }