.linha-inova{
    display: flex;
    justify-content: center;
}


.criadores{
    width: 100%;
    height: 169px;
    background-color: var(--cor-primaria);
    align-content: center;
}

.criadores h5{
    font-family: var(--font-titulo-h2);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

.criadores__colunas{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    font-family: var(--font-titulo-h2);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

